.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}


.button {
  background-color: #fdb813; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logo {
  height: 100px;
  width: auto;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

table {
  width: 100%;
}
